<div class="contact-container" id="popup">
  <form [formGroup]="form">
    <div class="mb-3">
      <label for="inputName" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="inputFirstName"
        formControlName="firstName"
        [class.is-invalid]="validation.firstName"
      />
      <div *ngIf="validation.firstName" class="invalid-feedback">
        {{ validation.firstName }}
      </div>
    </div>
    <div class="mb-3">
      <label for="inputName" class="form-label">Last name</label>
      <input
        type="text"
        class="form-control"
        id="inputLastName"
        formControlName="lastName"
        [class.is-invalid]="validation.lastName"
      />
      <div *ngIf="validation.lastName" class="invalid-feedback">
        {{ validation.lastName }}
      </div>
    </div>
    <div class="mb-3">
      <label for="inputNumber" class="form-label">PhoneNumber</label>
      <input
        type="text"
        class="form-control"
        id="inputNumber"
        formControlName="phoneNumber"
        [class.is-invalid]="validation.phoneNumber"
      />
      <div *ngIf="validation.phoneNumber" class="invalid-feedback">
        {{ validation.phoneNumber }}
      </div>
    </div>
    <div class="mb-3">
      <label for="inputAddress" class="form-label">Address</label>
      <input
        type="address"
        class="form-control"
        id="inputAddress"
        formControlName="address"
        [class.is-invalid]="validation.address"
      />
      <div *ngIf="validation.address" class="invalid-feedback">
        {{ validation.address }}
      </div>
    </div>
    <button class="btn btn-secondary" (click)="close()">Close</button>
    <button *ngIf="!editing" class="btn btn-primary" (click)="edit()">
      Edit
    </button>
    <button *ngIf="editing" class="btn btn-primary" (click)="save()">
      Save
    </button>
    <button *ngIf="editing" class="btn btn-secondary" (click)="stopEditing()">
      Cancel
    </button>
  </form>
</div>
<app-error-modal />
